

.error-container {
    display: grid;
    width: 100%;
    height: 100%;
    transform: initial;
    transition: transform 0.5s
}

.error-container_disable {
    transform: translateY(-120%);
}

.error-container .error-background {
    display: none;
}

.error-container .error-content {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 90%;
    max-width: 400px;
    height: 60%;
    background-color: #fff5f5;
    border: 1px solid rgba(220, 34, 34, 0.4);
    border-radius: 30px;
}

.error-content h3 {
    color: #DC2222;
}

.error-content .error-content_title {
    font-size: 18px;
    font-weight: bold;
    color: #DC2222;
}

.error-content .error-content_description {
    padding: 10px;
    max-width: 280px;
    font-size: 16px;
    line-height: 1.4;
    align-self: center;
    text-align: center;
    color: #DC2222;
}

.error-content button {
    height: 50px;
    min-width: 150px;
    width: 40%;
    justify-self: center;
    font-size: 16px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    background-color: #ff7e7e;
    color: #FFF;
}

.error-content button:hover {
    background-color: var(--reintent-color);
}

.error-content button:active {
    transform: scale(0.97);
}

@media screen and (min-width: 768px) {
    .error-container {
        grid-template-rows: 1fr 1.3fr;
        width: 40%;
        min-width: 360px;
        height: 90%;
        border-radius: 30px;
        box-shadow: 2px 2px 4px 0 #9F9F9F;
        background: linear-gradient(#ff7e7e, var(--fail-color));
    }

    .error-container .error-background {
        display: grid;
        place-items: center;
    }

    .error-background h2 {
        font-size: 26px;
        color: #FFF
    }

    .error-container .error-content {
        width: 100%;
        height: 100%;
        max-width: none;
        background-color: #fff5f5;
        border-radius: 0 0 30px 30px;
        border: initial;
        box-shadow: initial;
    }
}


