


.modal-income_container {
    position: absolute;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-income_navegate {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    height: 20%;
    border-radius: 0 0 20px 20px;
}

.payment-link, .home-link {
    display: grid;
    place-items: center;
    width: 40%;
    height: 40px;
    border-radius: 20px;
    transition: transform 0.2s ease;
}

.payment-link:hover, .home-link:hover {
    transform: translateY(-4px);
}

.payment-link, .home-link:active {
    transform: translateY(1px);
}

.modal-income_navegate .payment-link {
    background: var(--payment-gradient);
}

.modal-income_navegate .home-link  {
    background: var(--student-color);
}

.modal-income_navegate a {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--dark-color);
    text-decoration: none;
}

