.menu-icon, .active_menu-icon {
    height: 55%;
}

.menu-icon {
    width: 100%;
}

.active_menu-icon {
    width: 20%;
}

.menu-icon path, .active_menu-icon path{
    height: 100%;
    stroke: #FFF;
}