.menu-icon {
    width: 100%;
    height: 10%;
}

.active_menu-icon {
    width: 20%;
    height: 10%;
}

.menu-icon path, .active_menu-icon path{
    width: 100%;
    height: 10%;
    stroke: #FFF;
}