

.form-container {
    display: grid;
    grid-template-rows: 15% 80%;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .form-container {
        width: 40%;
        min-width: 360px;
        height: 90%;
        border-radius: 30px;
        box-shadow: 2px 2px 4px 0 #9F9F9F;
        background-color: #FFFF;
    }
}