


.form-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}