


.modal-income_container {
    position: absolute;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-container_disable {
    display: none;
}

.modal-container_active {
    width: 90%;
    max-width: 420px;
    height: 260px;
    border-radius: 20px;
    background-color: #FFF;
}

.modal-income_header {
    display: grid;
    place-items: center;
    height: 20%;
    border-radius: 20px 20px 0 0;
    background: var(--payment-gradient)
}

.modal-income_header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
}

.modal-income_header button {
    margin-right: 5px;
}

.modal-income_header h3 {
    margin-left: 5px;
}

.modal-income_content {
    display: grid;
    place-items: center;
    text-align: center;
    height: 60%;
}

.modal-income_content p {
    width: 90%;
}

.modal-income_navegate {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    height: 20%;
    border-radius: 0 0 20px 20px;
}

.payment-link, .home-link {
    display: grid;
    place-items: center;
    width: 40%;
    height: 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #CCC;
}

.modal-income_navegate .payment-link {
    background: var(--payment-gradient);
}

.modal-income_navegate .home-link  {
    background: var(--student-color);
}

.modal-income_navegate a {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--dark-color);
    text-decoration: none;
}
