

.fee-add_form-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.fee-add_form-container .fee-add_min-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 80%;
}

.fee-add_form-container .submit-button {
    color: #111;
    background: var(--payment-gradient);
    transition: color 0.2s ease, border 0.2s ease, transform 0.2s ease;
}

.fee-add_form-container .submit-button:hover {
    background: none;
    border: 2px solid #bf932c;
    color: #bf932c
}
