

.modal-navegate {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    height: 20%;
    border-radius: 0 0 20px 20px;
}

.home-link {
    display: grid;
    place-items: center;
    width: 40%;
    height: 40px;
    border-radius: 20px;
}

.home-link:hover {
    box-shadow: 4px 4px 4px #CCC;
    background: var(--student-color);
}


.modal-navegate a {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--dark-color);
    text-decoration: none;
}
