

.modal-navegate {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    height: 20%;
    border-radius: 0 0 20px 20px;
}

.home-link {
    display: grid;
    place-items: center;
    width: 40%;
    height: 40px;
    border-radius: 20px;
    box-shadow: 1px 2px 2px #DDD;
    background-color: var(--student-color);
    transition: transform 0.2s ease;
}

.home-link:hover {
    box-shadow: 1px 2px 2px #DDD;
    transform: translateY(-4px);
}

.home-link:active {
    transform: translateY(1px);
}


.modal-navegate a {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--dark-color);
    text-decoration: none;
}
