/node_modules/

.env
.env.test

logs
*.log
npm-debug.log*

/dist
/build
/*.tsbuildinfo

/coverage
/vitest-report*

*.tsbuildinfo

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

pids
*.pid
*.pid.lock

.npm
