

.fee-add_form-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.fee-add_form-container .fee-add_min-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 80%;
}
