

.error-404 {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #F1F1F1;
}

.error-404_content {
    display: grid;
    place-items: center;
    width: 90%;
    max-width: 360px;
    height: 50%;
    border-radius: 30px;
    box-shadow: 2px 2px 4px 0 #9F9F9F;
    background-color: #FFF;
}

.error-404_content--errors {
    display: grid;
    place-items: center;
    height: 70%
}

.error-404_content h2 {
    font-size: 80px;
}

.error-404_content h3 {
    text-align: center;
    font-size: 26px;
}

.error-404_content button {
    width: 80%;
    max-width: 320px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    color: #FFF;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.2s;
}

.error-404_content button:hover {
    background-color: var(--reintent-color);
}

.error-404_background {
    display: none;
}

@media screen and (min-width: 768px) {

    .error-404 {
        grid-template-columns: 1fr 1fr;
    }
    .error-404_background {
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--dark-color);
    }
}