


.submit-button {
    position: relative;
    display: grid;
    place-items: center;
    width: 90%;
    max-width: 320px;
    height: 42px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    color: #FFFF;
}

.load {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--primary-color);
    border-right-color: var(--primary-color);
    animation: spin 0.8s ease-in-out infinite;
}

.submit-button:hover {
    transform: translateY(-3px);
    background: none;
}

.submit-button:active {
    transform: translateY(6px);
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}