

.student-income_form-container {
    display: grid;
    grid-template-rows: 10% 90%;
    width: 100%;
    height: 100%;
}

.student-income_form-container .submit-button {
    background: linear-gradient(60deg, #6879D7, #C6CAF0);
}