

.input-container{
    display: grid;
    place-items: center;
    width: 90%;
}

.register-input, .register-input_error {
    width: 100%;
    max-width: 320px;
    height: 42px;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #A5A5A9;
}

.register-input_error {
    border: 2px solid #DC2222;
}

.error-message {
    margin-top: 5px;
    font-size: 14px;
    color: #DC2222;
}